<% if @party == "gop" %>
  <div class = "gop">
<% else %>
  <div class = "democratic">
<% end %>


<%= @leader %>
<br>
<% @standings.each do |candidate| %>
<%= candidate.first %> => <%= candidate.last %><br>
<% end %>

</div>