<h1>Who's ahead now?</h1>
<p>
<%= form_for(:search, :url => search_index_path, :method => 'GET' ) do |f| %>
<%= f.submit "democratic", :type => :image, :src => image_path("democrat.png") %>
<% end %>
</p>
<p>
<%= form_for(:search, :url => search_index_path, :method => 'GET' ) do |f| %>
<%= f.submit "gop", :type => :image, :src => image_path("republican.png") %>
<% end %>
</p>