<footer>
  <li>Made by &nbsp<a href="http://kate-travers.com">Kate Travers</a>&nbsp using the &nbsp<a href="http://elections.huffingtonpost.com/pollster/api">Huffington Post Pollster API</a>&nbsp</li> |
  <li><a href="https://github.com/ktravers/whos-ahead-now">Source code</a></li> | 
  <li><a href="mailto:kate.travers@flatironschool.com">Feedback</a></li> | 
  <li>This site is not affiliated with any political party. 
</footer>